H1 {
	font-family: ""Arial Black", Gadget, sans-serif";
	font-size: 40pt;
	text-align: center;
}

img {
	position: relative;
	height:300px;
	width: 1000px;
	opacity: 0.5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  overflow: hidden;
  background-color: rgb(84, 129, 53);
}


a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover {
  background-color: #B8B8B8;
}

body {
	background-color: #B8B8B8;
} 

.content {
	max-width:1000px;
	margin: auto;
	background: white;
	
}



H2 {
	font-size: 28pt;
	font-family: ""Arial Black", Gadget, sans-serif";
	color: rgb(84, 129, 53);
	text-align: center;
	font-weight: normal;
}

p {
	font-family: ""Arial Black", Gadget, sans-serif";
	font-size: 16pt;
	color: black;
	text-align: center;
}

.section1 {
	width: auto;
	margin: 20px 15px 20px 15px;
	padding: 10px;
	border-radius: 25px;
}


/* Styling images within section divs */
.section img {
	border-radius: 25px;
	opacity: 1;
}

/* Styling for p tags within sections divs */
.section p {
	font-size: 20px;
	text-align: left;
}

/* Styling for h2 tag within section 1 */
.section1 h2{
	font-size: 22pt;
	text-align: center;
	color: white;
	margin: 0 0 20px 0;
	background-color: rgb(84, 129, 53);
	border-radius: 25px;
	padding: 5px;
}

.divided {
    display: flex;
    margin-bottom: 30px;
}

.teamimage {
    width: 235px;
	height: 200px;
    margin-right: 20px;
    vertical-align: middle;
}

.methods {
    display: flex;
    margin-bottom: 30px;
}

.methods img {
	height: 250px;
	width: 400px;
}

H4 {
    font-family: ""Arial Black", Gadget, sans-serif";
	color: rgb(84, 129, 53);
	font-size: 16pt;
	font-weight: normal;
}

.pics {
		width: 100px;
		height: 500px;
}

.banner {
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
}


.bottom {
	background-color: white;
	height: 50px;
	clear: both;
	width:100%;
	float: left;
}

.bottom img {
	height: 300px;
	width: 300px;
	opacity: 1;
	
}

.bar p{
	font-size: 15px;
	text-align: center;
	color: white;
	margin: 0 0 20px 0;
	background-color: rgb(84, 129, 53);
	border-radius: 25px;
	padding: 5px;
	opacity: 0.8;
}
	


